<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/9d9812b8-aa40-406e-965a-e865e9eb9ac4/resourceGroups/dreamvault_group/providers/Microsoft.Web/sites/dreamvault</ResourceId>
    <ResourceGroup>dreamvault_group</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://dreamvault.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>f979e45c-e1a1-4017-a688-9f6823678bf8</ProjectGuid>
    <PublishUrl>https://dreamvault.scm.azurewebsites.net/</PublishUrl>
    <UserName>$dreamvault</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>